<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8FINbRalZ4WVvt0gqFo2WiUk4ySUDYXE</string>
	<key>GCM_SENDER_ID</key>
	<string>418987594217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myboss.mybossMobile</string>
	<key>PROJECT_ID</key>
	<string>my-customer-my-boss</string>
	<key>STORAGE_BUCKET</key>
	<string>my-customer-my-boss.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418987594217:ios:631189970a237264affb78</string>
</dict>
</plist>
